<div class="container">
	<div class="row">
		<div class="col-md-offset-4 clearfix">
			<h2>Articles</h2>
			<hr>
			<div class="container">
				<% @articles.each do |article| %>
					<h3 class="title"><%= link_to article.title, article %></h3>
					<p><%= article.created_at.strftime("%B %d, %Y") %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>
